.jumbotron.text-center
    h2.lead Тестовое задание
    .row
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        auth-form(
          user="vm.user"
          button="Ввод"
          on-submit="vm.login(user);"
          processing="vm.sendingAuthForm"
        )
