form(
  novalidate
  name="vm.authForm"
  ng-submit="vm.submit()"
)
  .form-group(
    ng-class="{'has-error': vm.canShowFieldErrorClass('userName')}"
  )
    sd-input(
      ng-model="vm.user.name"
      name="userName"
      required
      type="text"
      label="Имя*"
      placeholder="Введите ваше имя"
    )
    .form__messages.form__messages--error(
      ng-messages="vm.authForm.userName.$error"
    )
      .form__message.form__message--error(
        ng-message="required"
      ) Поле обязательно для заполнения
  .form-group.form__group.form__group--validated(
    ng-class="{'has-error': vm.canShowFieldErrorClass('email')}"
  )
    sd-input(
      ng-model="vm.user.email"
      name="email"
      required
      type="email"
      label="E-mail*"
      placeholder="Введите ваш e-mail"
    )
    .form__messages.form__messages--error(
      ng-messages="vm.authForm.email.$error"
    )
      .form__message.form__message--error(ng-message="required") Поле обязательно для заполнения
      .form__message.form__message--error(ng-message="email") Неправильный формат!

  .auth-form__buttons
    button.btn.btn-success.btn--success(
      ng-disabled="vm.authForm.$invalid || vm.processing"
    )
      | {{ vm.button }}
