.sd-input {
  display: block;
  position: relative;
  font-family: @glober;
  line-height: 1.41;
  letter-spacing: normal;

  .icon {
    position: absolute;
    top: 20px;
    right: 17px;
  }
}

.sd-input__input {
  height: 64px;
  border-radius: 4px;
  background-color: #f0f2f3;
  border: solid 2px #f0f2f3;
  box-shadow: none;
  padding-top: 33px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 50px;
  font-size: 17px;
  .font-normal;

  &::placeholder {
    color: transparent;
 }

  &:focus {
    background-color: #ffffff;
    border: solid 2px #d5dde0;
    box-shadow: none;
    &::placeholder {
      color: #758191;
      opacity: 0.3;
   }
  }

  &:focus ~ .sd-input__label,
  &.ng-not-empty ~ .sd-input__label {
    transform: translateY(-9px) scale(0.765);
  }
}

.sd-input__label {
  position: absolute;
  top: 24px;
  left: 17px;
  font-size: 17px;
  .font-normal;
  line-height: 1.41;
  color: #758191;
  cursor: text;
  transform-origin: left top;
  transition: transform 200ms ease;
  will-change: transform;
  pointer-events: none;
}
