.success {
  display: block;

  .lead {
    width: 300px;
  }

  .jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 520px;
    background-color: #fff;
  }
}
