@font-face {
  font-family: 'GloberRegular';
  src: url('/fonts/Glober Regular.otf') format('opentype')
}

@font-face {
  font-family: 'GloberBook';
  src: url('/fonts/Glober Book.otf') format('opentype')
}
