.has-error {
  background-color: #e1085d;
  border-radius: 6px;
  opacity: 0.97;

  & .form-control {
    box-shadow: none;
    background-color: #fceaf1;
    border-color: #fceaf1;
    cursor: pointer;
  }

  & .form-control:focus {
    box-shadow: none;
    border-color: @border-color-danger;
    background-color: #fff;
  }

  &:hover {
    .form__messages {
      display: flex;
    }
  }
}
